<div>
	<h1>BuddyCab title</h1>

 	<table class="table">
 		<thead> 
 			<tr class="h4">
 				<td>#</td>
 				<td>Name</td>
 				<td>Sirname</td>
 				<td>Phone</td>
 				<td>Avatar</td>
 			</tr>
 		</thead>
 		<tbody> 
 			<tr ng-repeat="subscriber in subscribers" class="info">
 				<th scope="row">#</th>
 				<td>{{test}} {{subscriber.name}}</td>
	 			<td>{{subscriber.sirname}}</td>
	 			<td>{{subscriber.phone}}</td>
	 			<td>{{subscriber.avatar}}</td>
 			</tr>
 		</tbody> 
 	</table>
 </div>